*, *::before, *::after {
	box-sizing: border-box;
}

h1 {
	margin: 1em;
	text-align: center;
}

#product-list {
	max-width: 55%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	border: 0.1em black solid;
}

#product-list li {
	margin: 1em;
	padding: 1em 1em 0 1em;
	border: 0.1em black solid;
}

#product-list li div {
	width: 10em;
	min-height: 2em;
	display: flex;
	justify-content: space-between;
	font-weight: bolder;
	font-size: 1.1em;
}

#product-list li div label, #product-list li p {
	text-align: right;
}

#chkbtn {
	cursor: pointer;
	user-select: none;
	width: 13em;
	height: 1.7em;

	display: block;
	margin: 1em auto;

	font-size: 1.4em;
	text-align: center;
	color: white;
	background-color: #ff1515;
	border: 0.1em black solid;
	border-radius: 0.6em;
	transition: 0.2s ease-in-out;
}

#chkbtn:hover { 
	background-color: #790000;
}
