*, *::before, *::after {
	box-sizing: border-box;
}

a { 
	text-decoration: none;
}

h1 {
	margin: 1em;
	text-align: center;
}

h3 {
	margin: 0;
}

#product-list {
	max-width: 65%;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	margin: 0 auto;
	padding: 0;

	list-style-type: none;
	border: 0.1em black solid;
}

#product-list li {
	width: 16em;

	margin: 1em 0;
	padding: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	border: 0.1em black solid;
}

#product-list li div {
	display: flex;
}

#product-list li div * {
	width: 6em;

	display: inline;
}

#product-list li div :nth-child(2) {
	text-align: right;
}

.nbtn {
	cursor: pointer;
	user-select: none;
	width: 50%;

	margin: 0.5em;
	padding: 0.4em;

	text-align: center;
	background-color: #fffb15;
	border: 0.1em black solid;
	border-radius: 0.6em;

	transition: 0.2s ease-in-out;
}

.nbtn:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(163, 161, 45);
}

.nbtn p {
	margin: 0;
	padding: 0;
}

#chkbtn {
	cursor: pointer;
	user-select: none;
	width: 50%;

	margin: 1em auto;

	font-size: 1.4em;
	text-align: center;
	color: white;
	background-color: #ff1515;
	border: 0.1em black solid;
	border-radius: 0.6em;
	transition: 0.2s ease-in-out;
}

#chkbtn:hover { 
	background-color: #790000;
}

#chkbtn p {
	margin: 0.4em 0;
}